{% extends 'customers/base_customers.html' %}

{% block content %}
<h2>Modifier le client</h2>
<form method="post">
    {% csrf_token %}
    <label for="nom">Nom :</label>
    <input type="text" name="nom" value="{{ customer.nom }}" required><br>

    <label for="prenom">Prénom :</label>
    <input type="text" name="prenom" value="{{ customer.prenom }}" required><br>

    <label for="email">Email :</label>
    <input type="email" name="email" value="{{ customer.email }}" required><br>

    <button type="submit">Enregistrer</button>
</form>
<a href="{% url 'customer_list' %}">Annuler</a>
{% endblock %}
